body {
		font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
		background-color: #4E5869;
		margin: 0;
		padding: 0;
		color: #000;
	}
	ul, ol, dl { 
		padding: 0;
		margin: 0;
	}
	h1, h2, h3, h4, h5, h6, p {
		margin-top: 0;	 
		padding-right: 15px;
		padding-left: 15px; 
	}
	a img {
		border: none;
	}
	a:link {
	color:#414958;
	text-decoration: underline; 
	}
	a:visited {
		color: #4E5869;
		text-decoration: underline;
	}
	a:hover, a:active, a:focus { 
		text-decoration: none;
	}
	.container {
		width: 80%;
		max-width: 1260px;
		min-width: 780px;
		background-color: #FFF;
		margin: 0 auto; 
	}
	.header {
		padding: 20px;
		background-color: #6F7D94;
		color: #FFFFFF;
	}
	.content {
		padding: 30px 30px 10px 30px;
	}
	.content ul, .content ol { 
		padding: 0 15px 15px 40px; 
	}
	.footer {
		padding: 10px 50px;
		background-color: #6F7D94;
		color: #FFFFFF;
		text-align: center;
	}
	.fltrt { 
	float: right;
	margin-left: 8px;
	}
	.fltlft { 
	float: left;
	margin-right: 8px;
	}
	.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
	}
	.tweet {
		background-color: #C6CBD5;
		margin-left: 15px;
		padding: 10px;
	}
	#navigation {
		width:100%;
		height:30px;
		background-color:#414756;
	}
	#navigation ul {
		margin-left:30px;
		padding: 0px;
	}
	#navigation ul li {
		display: inline;
		height: 30px;
		float: left;
		margin-left: 15px;
		margin-bottom: 5px;
		margin-top: 5px;
		margin-right: 10px;
	}
	#navigation ul li a{
		list-style: none;
		color: #FFFFFF;
	}
	